body {
  background-color: rgb(20, 80, 117);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
}

#pwa-container {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#main-content {
    background-color: rgb(20, 80, 117);
    padding-top: 60px;
    padding-bottom: 65px;
}