body {
  background-color: rgb(20, 80, 117);
}

#pwa-container {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#main-content {
    background-color: rgb(20, 80, 117);
    padding-top: 60px;
    padding-bottom: 65px;
}